{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div>
    
    <div>
      <img src="/media/images/foto.png" width="200"/>
      <h1>Manuel Carrasquero</h1>
      <h4>Ingeniero Informático</h4>
    </div>
    
    <div>
      <p>
        Ingeniero Informático, desarrollador web, bla, bla, bla.
        Gracias por visitar mi sitio web.
      </p>
      <ul>
        <li><a href="https://github.com/maleca">Github</a></li>
      </ul>
    </div>
    
  </div>

{% endblock content %}